<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.flutter_sms_scheduler">

  <uses-permission android:name="android.permission.SEND_SMS"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
  <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>


</manifest>
